* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.title {
  font-family: Bebas;
  font-size: 42px;
  text-align: center;
  color: #666666;
  margin: 0 auto;
  padding: 20px 0;
}

.ojisan {
  width: 324px;
  height: 324px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius:50%;
  padding-top: 40px;
  text-align: center;
}

.ojisan-img {
  margin: 0 auto;
}

.popup {
  text-align: center;
  margin: -50px 0 20px;
}

.popup-text {
  padding: 5px 30px;
  opacity: 0.8;
  border-radius: 100px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  font-size: 25px;
  color: #666;
  display: inline-block;
  font-weight: bold;
}

.dataContents {
  width: 90%;
  height: 540px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 0 auto 30px;
}

.numberContents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.numberBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
.numberBox-temperature {
  color: #ef6377;
}
.numberBox-humid {
  color: #4990e2;
}
.number_titles {
  text-align: right;
  margin-right: 10px;
}
.number_titles span {
  display: block;
}
.number_ja {
  font-size: 44px;
  font-weight: bold;
}
.number_en {
  font-family: bebas;
  font-size: 46px;
  opacity: .2;
  margin-top: -25px;
}
.number_values {
}
.number_value {
  font-size: 92px;
  font-family: bebas;
}
.number_unit {
  font-size: 52px;
  font-weight: bold;
}
